* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headings {
    font-family: 'default';
    src: url('../../fonts/Raleway-ExtraBold.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'default';
    src: url('../../fonts/Raleway-ExtraBold.ttf');
}

.max-width {
    width: 1300px;
    margin: auto;
}

.nav-bar {
    position: fixed;
    width: 100%;
    padding: 20px;
    z-index: 999;
    background-color: white;
}
.toggle-icon{
	display: none;
	color:crimson;
	position: absolute;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: rgb(80, 80, 80);
    font-size: 25px;
    font-weight: 700;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    padding: 0 20px 0 20px;
    color: rgb(62, 62, 62);
    transition: 0.3s;
    font-weight: 600;
    display: inline-block;
}

.menu li a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: crimson;
    width: 0%;
    margin: auto;
    transition: 0.3s;
}

.menu li a:hover::after {
    width: 100%;
    /* border-radius: 50%; */
}

.menu a:hover {
    color: crimson;
    transform: scale(1.2);
}

.btn {
    border: none;
}

.btn button {
    background-color: crimson;
    border: 2px solid crimson;
    padding: 8px 25px 8px 25px;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    transition: 0.3s;
}

.btn button:hover {
    color: crimson;
    background-color: white;
    border: none;
    border: 2px solid crimson;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(7px);
    width: 40%;
}
.sidebar-btn {
    border: none;
    padding-top: 25px;
}

.sidebar-btn button {
    background-color: crimson;
    border: 2px solid crimson;
    padding: 8px 25px 8px 25px;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    transition: 0.3s;
}

.sidebar-btn button:hover {
    color: crimson;
    background-color: white;
    border: none;
    border: 2px solid crimson;
}
.cancel-icon{
    display: none;
	color:crimson;
	position: absolute;
    display: block;
    top: 20px;
    left: 30px;
}
.cancel-icon i{
    font-size: 25px
}
.sidebar li{
    width: 100%;
}
.sidebar-content{
    padding-top: 40px;
}
.sidebar a{
}
.sidebar li a {
    padding: 30px 30px 10px 30px;
    color: rgb(62, 62, 62);
    transition: 0.3s;
    font-weight: 600;
    display: inline-block;
}

.sidebar li a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: crimson;
    width: 0%;
    margin: auto;
    transition: 0.3s;
}

.sidebar li a:hover::after {
    width: 100%;
    /* border-radius: 50%; */
}

.sidebar a:hover {
    color: crimson;
    transform: scale(1.2);
}
.home {
    background-image: linear-gradient(rgba(3, 9, 30, 0.4), rgba(3, 9, 30, 0.4)), url('../images/background.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: cover;
}

.home-content {
    color: rgb(240, 240, 240);
}

.home-content h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.home-content p {
    margin-bottom: 15px;
}

.about {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-check {
    display: flex;
}
.about-left h1 {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(65, 65, 65);
}

.about-left p {
    font-size: 19px;
    padding-top: 15px;
}

.about-right {
    padding-left: 100px;
    padding-bottom: 40px;
}

.about-right p {
    color: rgb(124, 124, 124);
    font-size: 16px;
    padding-top: 15px;
}

.about-check i {
    padding: 15px 15px 0 0;
    color: crimson;
    font-size: 18px;
}

.team {
    padding: 4rem 0 4rem 0;
    background-color: rgb(238, 238, 238);
}

.team img {
    width: 9rem;
    border-radius: 8px;
    display: block;
}

.cards-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards {
    width: calc(51% - 25px);
    margin-top: 10px;
    display: block;
}

.box {
    display: flex;
    background-color: white;
    margin-top: 20px;
    padding: 27px;
    border-radius: 10px;
    transition: 0.3s;
}

.box-content {
    margin-left: 20px;
}

.box-content h3 {
    color: #48515b;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.box-content .box-after {
    position: relative;
    margin-bottom: 27px;
}

.box-content .box-after::after {
    content: "";
    position: absolute;
    background-color: rgba(161, 161, 161, 0.452);
    height: 2px;
    width: 60px;
    left: 0%;
    top: 28px;
    display: block;
}

.box-content p {
    margin-bottom: 10px;
    color: rgb(92, 92, 92);
}

.box-content i {
    background-color: #48515b;
    color: white;
    padding: 9px;
    border-radius: 3px;
}

.section-title h1 {
    font-size: 35px;
    font-weight: 800;
    color: #48515b;
    margin-bottom: 40px;
}

.section-title h2 {
    margin: 0 5px 0 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #7f8d9e;
    font-size: 16px;
    margin-bottom: 10px;
}

.section-title h2::after {
    content: "";
    height: 1px;
    width: 160px;
    background: crimson;
    margin: 4px 10px;
    display: inline-block;
}

.box:hover {
    transform: scale(1.06);
}

.companies {
    background-color: rgb(243, 243, 243);
    margin-bottom: 4rem;
}

.companies-content {

}

.owl-carousel img {
    width: 10px;
}

.owl-carousel {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 5rem;
}
.services-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.ser-cards {
    width: calc(50% - 37px);

}

.ser-box {
    background-color: rgb(243, 243, 243);
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    padding: 27px 40px 27px 40px;
    transition: 0.3s;
}

.ser-box:hover {
    transform: scale(1.06);
}

.ser-box h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-bottom: 11px;
    color: #48515b;
}

.ser-box p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: #48515b;
}

.ser-box i {
    padding: 25px 30px 30px 0;
    color: crimson;
    font-size: 35px;
}
.gallery{
    padding-bottom: 4rem;
}
.gallery-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.gallery-btn button {
    padding: 10px 25px 10px 25px;
    background-color: white;
    border: none;
    font-size: 15px;
    transition: 0.3s;
}

.gallery-btn button:hover {
    background-color: rgb(200, 0, 0);
    color: white;
    border-radius: 3px;
}
.gallery-images img {
    width: 100%;
    padding: 10px;
    display: block;
    transition: 0.4s;
}
.gallery-images img:hover {
    transform: scale(1.06);
}
footer {
    background-color: #525D6A;
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer-info{
    width: 25%;
}
footer h1 {
    color: #efefee;
    padding-bottom: 7px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer h2 {
    color: #efefee;
    padding-bottom: 7px;
    font-size: 20px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer p {
    color: #ADBBC4;
    padding-bottom: 7px;
    font-size: 13px;
}

footer i {
    color: #ADBBC4;
    padding: 10px;
}

footer span {
    color: #efefee;
}

footer .brands {
    display: flex;  
}

.address {
    margin-top: 23px;
}

.footer-contact {
    margin-top: 23px;
    margin-bottom: 18px;
}
footer .brands i {
    color: #efefee;
    background-color: #5f6b7b;
    border-radius: 5px;
    display: inline-block;
    height: 34px;
    width: 35px;
    margin: 0 10px 0 0;
}

.footer-newsletter h2 {
    margin-bottom: 12px;
}

footer .newsletter {
    color: #e4edef;
    align-items: center;
    line-height: 10px;
}
footer .newsletter{
    line-height: 20px;
}
.sub-btn {
    margin-top: 17px;
    display: flex;
}

footer input {
    border: none;
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}

footer button {
    border: none;
    background-color: crimson;
    color: white;
    padding: 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;   
}

.copy-right {
    background-color: #4B5562;
    padding: 2rem;
    text-align: center;
    /* width: auto; */
}

.rights p {
    color: #efefee;
    margin-bottom: 15px;
}

.rights span {
    font-weight: bold;
}

.boot-strap {
    color: #a7acb1;
}

.boot-strap span {
    font-weight: bold;
}
.about-btn {
    padding: 6.5rem 0 1rem 0;
    background-color: rgb(238, 238, 238);
}

.services-btn {
    padding: 6.5rem 0 1rem 0;
    background-color: rgb(238, 238, 238);
    margin-bottom: 4rem;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header p {
    font-size: 25px;
    color: gray;
    align-items: center;
}

.main-header button {
    background-color: transparent;
    border: none;
    padding: 2px 15px 0 15px;
    align-items: center;
    font-size: 15px;
    color: rgb(52, 52, 52);
    transition: 0.3s;
}

.main-header button:hover {
    color: crimson;
}

.about-left-para p {
    line-height: 20px;
}

.progress {
    padding: 4rem 0 4rem 0;
}

.progress-intro p {
    position: relative;
    margin-bottom: 10px;
}

.progress-intro p::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: rgba(220, 20, 60, 0.499);
    align-items: center;
    top: 7px;
    left: 100px;
}

.progress-intro h1 {
    font-size: 35px;
    font-weight: 800;
    color: #48515b;
    margin-bottom: 4rem;
}

.progress-content {
    display: flex;
    justify-content: space-between;
}

.bars-right,
.bars-left {
    width: 100%;
}

progress {
    background: transparent;
    width: 80%;
    height: 7px;
}

progress::-webkit-progress-bar {
    background: rgb(240, 240, 240);
}

progress::-webkit-progress-value {
    background: #525D6A;
}

.bars-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.progress-bars {
    padding-bottom: 20px;
}

::-webkit-scrollbar {
    background: white;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 5px;
}
.features-main{
    display: flex;
    justify-content: space-around;
}
.features-content {
    display: flex;
    justify-content: space-between;
}
.features-links {
    align-items: center;
    width: 70%;
    padding-right: 100px;
}

.links {
    padding-bottom: 30px;
}

.links a {
    color: #5f6c7c;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
}

.links a:hover {
    color: crimson;
}
.features-results h1 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #48515b;
    font-weight: light;
    padding: 0 0 18px 0;
    position: relative;
}

.features-results h1::before {
    content: " ";
    position: absolute;
    background-color: crimson;
    height: 55px;
    width: 3px;
    display: inline-block;
    left: -20px;

}

.features-results p {
    color: #7f8d9e;
    font-size: 16px;
    line-height: 27px;
}

.features-italic {
    font-style: italic;
    padding-bottom: 20px;
}
.pricing-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 4rem;
}
.pricing-cards .cards{
    width: 25%;
}
.pricing-box {
    text-align: center;
    background-color: #ececec;
    width: 90%;
    padding: 1px;
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
}
.pricing-box-3{
    text-align: center;
    background-color: #ececec;
    width: 90%;
    padding: 1px;
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}
.ribbon{
    /* height: 150px; */
    width: 147px;
    background: red;
    position: absolute;
    top: -7px;
    right: -14px;
    
}
.ribbon span{
    background: crimson;
    color: white;
    position: absolute;
    width: 200px;
    text-align: center;
    top: 30px;
    left: 0;
    padding: 3px;
    transform: rotate(45deg);
}
.pricing-box:hover, .pricing-box-3:hover {
    transform: scale(1.07);
}

.product-price p {
    color: #ADBBC4;
    padding-top: 18px;
    padding-bottom: 18px;
}

.product-price p span {
    color: crimson;
    font-size: 30px;
    font-weight: 600;
}

.card-main {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-main ul li {
    padding-bottom: 18px;
    color: #6a737f;
}

.card-type {
    padding: 19px;
    transition: 0.3s;
    color: #676d73;
}

.card-type-business {
    padding: 19px;
    transition: 0.3s;
    color: #676d73;
    background-color: crimson;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.card-type:hover {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.buy-btn {
    padding: 15px;

}

.buy-btn button {
    color: white;
    background-color: crimson;
    border: 1px solid crimson;
    padding: 10px 30px 10px 30px;
    border-radius: 3px;
    transition: 0.3s;
}

.buy-btn button:hover {
    background-color: white;
    color: crimson;
}

.questions {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.answers {
    width: 100%;
}

.answers p {
    padding-bottom: 55px;
    color: #545b61;
}

.question-icon {
    display: flex;
    width: 100%;
    margin-right: 50px;
    padding-bottom: 65px;

}

.question-icon i {
    padding: 0 8px 0 0;
    color: #7f8d9e;
    font-weight: bold;
}

.question-icon p {
    color: #545b61;
    font-weight: bold;
}

.blog-content {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.blog-box img {
    width: 100%;
}

.blog-box-content {
    padding: 15px;
}

.blog-box-icons {
    display: flex;
}

.blog-box {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    width: 95%;
    margin-bottom: 20px;
}

.blog-box h1 {
    padding: 0 10px 0 0;
    font-size: 24px;
    color: #434950;
}

.blog-box p {
    color: #4e5761;
}

.blog-box .btn {
    text-align: right;
    padding: 15px;
}

.blog-box:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.blog-box-user,
.blog-box-date,
.blog-box-chat {
    padding: 12px 15px 12px 0;
    color: #687585;
    font-size: 14px;
}

.blog-right {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 30px;
    height: 50%;
    width: 100%;
}

.blog-right h1 {
    color: #6b737d;
    padding-bottom: 15px;
}

.blog-input {
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 25px;
}

.blog-input input {
    padding: 8px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-left: 2px solid rgb(231, 231, 231);
    border-top: 2px solid rgb(231, 231, 231);
    border-bottom: 2px solid rgb(231, 231, 231);
    border-right: 0;
    outline: none;
}

.blog-input i {
    background-color: crimson;
    padding: 8px 15px 8px 15px;
    border: none;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.blog-right ul li {
    padding-bottom: 15px;
    color: #606569;
}

.blog-right ul li span {
    font-size: 12px;
}

.blog-icons {
    display: flex;
}

.blog-icons-text {
    padding-left: 20px;
}

.blog-icons-text h2 {
    font-size: 20px;
    color: #585d62;
}

.blog-icons-text p {
    font-size: 15px;
    color: #8e949b;
    padding-top: 20px;
}

.blog-icons img {
    width: 90px;
}

.tags {
    padding-top: 30px;
}

.tags-names-col-1, .tags-names-col-2, .tags-names-col-3 {
    display: flex;
    /* justify-content: space-between; */
}
.tags-names-col-1 p, .tags-names-col-3 p{
    padding: 15px 50px 20px 0;
    color: #8e949b;
}
.tags-names-col-2 p{
    padding: 15px 53px 20px 0;
    color: #8e949b;
}
.tags-content{
    padding-left: 20px;
}
.map{
    padding-top: 4rem;
}
.contact{
    padding-top: 4rem;
}
.contact-content{
    display: flex;
   justify-content: space-between;
}
.contact-info{
        width: 35%;
}
.form-main{
    width: 100%;
}
.form-content{
    display: flex;
}
.form-info{
    display: flex;
    justify-content: space-between;
}
.contact-icon{
    display: flex;
    align-items: center;
    padding-bottom: 35px;
}
.contact-icon h1{
    color: #3b3b3b;
}
.contact-icon p{
    color: #838383;
    font-size: 14px;
    padding-top: 10px;
}
.contact-icon i{
    padding: 14px 17px 12px 17px;
    background-color: rgb(232, 232, 232);   
    border-radius: 50%; 
    font-size: 20px;
}
.icon-location, .icon-email, .icon-phone{
    padding: 0 20px 0 0;
}
.form-name{
    width: 100%; 
    padding-bottom: 20px;
}
.form-email{
    width: 100%;
    margin-left: 20px; 
    padding-bottom: 20px;
}
.form-subject{
    width: 100%;
    padding-bottom: 20px; 
}
.form-name input, .form-email input{
    padding: 13px;
    width: 100%;
    border: 2px solid gray;
    border-radius: 7px;
}
.form-subject input{
    padding: 13px;
    width: 100%;
    border: 2px solid gray;
    border-radius: 7px;
}
.form-message{
    width: 100%;
}
.form-content textarea{
    border: 2px solid gray;
    border-radius: 7px;
    width: 100%;
}
.form-content .btn{
 text-align: center;
 padding-top: 20px;
 padding-bottom: 4rem;
}




/* This is for media query */
@media (max-width:1280px) {
    .max-width{
        width: 1024px;
    }
    .menu li a{
        padding: 0 10px 0 10px;
    }
    .conpanies{
        display: none;
    }
}


@media (max-width:1024px) {
    .max-width{
        width: 800px;
    }
    .footer-info{
        width: 40%;
        padding-top: 5rem;
    }
    .footer-content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .menu li a{
        padding: 0 6px 0 6px;
    }
    .about-content{
        flex-direction: column;
    }
    .menu{
        display: none;
    }
    .toggle-icon{
        display: block;
        right: 12%;
    }
    .companies{
        display: none;
    }
    .about-right{
        padding-left: 0;
    }
    .cards{
        width: 100%;
    }
    .features-content{
        flex-direction: column;
        justify-content: center;
    }
    .contact-content{
        flex-direction: column;
    }
}

/* this is for tablet */
@media  (max-width:770px) {
    .max-width{
        width: 500px;
    }
    .copy-right-content p{
        font-size: 13px;
    }
    .footer-info{
        width: 50%;
    }
    footer .brands i {
        height: 34px;
        width: 32px;
        font-size: 14px;
    }
    .ser-cards {
        width:100%;
    
    }
    .about-right{
        padding-left: 0;
    }
    .about-content .about-left h1{
        font-size: 30px;
    }
    .about-content .about-left-para p{
        font-size: 14px;
    }
    .pricing-cards .cards{
        width: 50%;
    }
    .blog-content{
        flex-direction: column;
    }
    .blog-box{
        width: 100%;
    }
}

/* this is for mobile */
@media (max-width:500px){
    .max-width{
        width: 280px
    }
    footer h1, h2, .newsletter{
       text-align: center;
    }
    .sub-btn{
        justify-content: center;
    }
    .address, .footer-contact{
        margin-left: 10px;
    }
    .footer-content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer-info{
        width: 100%;
    }
    .copy-right-content{
        width:90%;
    }
    .copy-right-content p{
        font-size: 10px;
    }
    .home-content h1{
        font-size: 30px;
    }
    .home-content p{
        font-size: 14px;
    }
    .about-left h1{
        font-size: 30px;
    }
    .about-left p{
        font-size: 14px;
    }
    .about-right{
        padding-left: 0;
    }
    .about-right p{
        font-size: 14px;
    }
    .progress-content{
        flex-direction: column;
    }
    .cards .box{
        flex-direction: column;
    }
    .cards-image{
     display: flex;
     justify-content: center;
    }
    .ser-cards{
        width: 100%;
    }
    .services-image{
        display: flex;
        justify-content: center;
    }
    .services-image img{
        width: 100%;
    }
    .gallery-btn button{
        padding: 10px 0 10px 25px;
    }
    .pricing-cards .cards{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .questions{
        flex-direction: column;
        
    }
    .question-icon{
        padding-bottom: 20px;
    }
    .answers{
        margin-left: 25px;
    }
    .tags-names-col-1 p, .tags-names-col-3 p{
        padding: 15px 15px 20px 0;
        font-size: 13px;
    }
    .tags-names-col-2 p{
        padding: 15px 15px 20px 0;
        font-size: 13px;
    }
    .tags-content{
        padding-left: 10px;
    }
    .blog-box{
        width: 100%;
    }
    .form-info{
        flex-direction: column;
    }
    .form-email{
        margin-left: 0;
    }
    .contact-info{
        width: 100%;
    }
    .contact-icon i{
        font-size: 14px;
    }
    .contact-icon h1{
        font-size: 18px;
    }
    .contact-icon p{
        font-size: 14px;
    }
}